/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* Basics */
body {
  margin: 0 !important;
  padding: 0; }

table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333; }

td {
  padding: 0; }

img {
  border: 0; }

div[style*="margin: 16px 0"] {
  margin: 0 !important; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #f1f0f2;
  padding-top: 60px; }

.webkit {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff; }

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 10px; }

.inner {
  padding: 15px 0px; }

.contents {
  width: 100%; }

h1 {
  Margin: 0; }

p {
  Margin: 0; }

a {
  color: #ee6a56;
  text-decoration: underline; }

.h1 {
  font-size: 20px;
  font-weight: bold;
  color: #1eaad6;
  text-transform: uppercase; }

.h2 {
  font-size: 16px;
  padding-bottom: 10px;
  color: #1eaad6; }

.h3 {
  font-size: 14px;
  padding-bottom: 11px;
  color: #515151; }

.link {
  font-size: 12px;
  font-weight: bold;
  color: #1eaad6;
  text-align: right; }

.text {
  padding: 15px 25px; }

.full-width-image img {
  width: 100%;
  max-width: 600px;
  height: auto; }

.header-image {
  padding: 20px 0px; }

.social-media {
  font-size: 11px;
  padding: 14px; }

.social-media .text {
  padding: 10px; }

.social-media .call-to-action {
  font-size: 14px;
  color: #494949; }

.footer {
  color: #848484;
  font-size: 11px;
  text-align: center;
  padding: 7px 0px; }

/* One column layout */
.one-column .contents {
  text-align: left; }

.one-column p {
  padding-bottom: 10px; }

/*Two column layout -- modified to look like one large column*/
.two-column {
  text-align: center;
  font-size: 0; }

.two-column .column {
  width: 100%;
  display: inline-block;
  vertical-align: top; }

.two-column .picture {
  max-width: 228px; }

.two-column .description {
  max-width: 291px; }

.two-column .contents {
  font-size: 14px;
  text-align: left; }

.two-column img {
  width: 100%;
  max-width: 280px;
  height: auto; }

.two-column .text {
  background-color: #f3f3f3; }

/*Three column layout*/
.three-column {
  text-align: center;
  font-size: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.three-column .column {
  width: 100%;
  max-width: 172px;
  display: inline-block;
  vertical-align: top; }

.three-column img {
  width: 100%;
  max-width: 165px;
  height: auto; }

.three-column .contents {
  font-size: 14px;
  text-align: center; }

.three-column .text {
  padding-top: 10px; }

/* Left sidebar layout */
.left-sidebar {
  text-align: center;
  font-size: 0; }

.left-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.left-sidebar .left {
  max-width: 100px; }

.left-sidebar .right {
  max-width: 500px; }

.left-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.left-sidebar .contents {
  font-size: 14px;
  text-align: center; }

.left-sidebar a {
  color: #85ab70; }

/* Right sidebar layout */
.right-sidebar {
  text-align: center;
  font-size: 0; }

.right-sidebar .column {
  width: 100%;
  display: inline-block;
  vertical-align: middle; }

.right-sidebar .left {
  max-width: 100px; }

.right-sidebar .right {
  max-width: 500px; }

.right-sidebar .img {
  width: 100%;
  max-width: 80px;
  height: auto; }

.right-sidebar .contents {
  font-size: 14px;
  text-align: center; }

.right-sidebar a {
  color: #70bbd9; }

/*Media Queries*/
@media screen and (max-width: 550px) {
  .two-column .column,
  .three-column .column {
    max-width: 100% !important; }
  .two-column img {
    max-width: 100% !important; }
  .three-column img {
    max-width: 50% !important; }
  .inner {
    padding: 0px !important; }
  .outer {
    padding: 8% !important; }
  .new-col {
    padding: 30px 0px 0px 0px !important; }
  .h1 {
    display: none; }
  .bottom-header {
    padding: 25px 0px 10px 0px !important; }
  .social-media .call-to-action {
    font-size: 14px !important;
    color: #494949 !important;
    display: block !important;
    padding-top: 20px !important; }
  .social-media img {
    width: 44px;
    height: 44px; }
  .wrapper {
    padding-top: 0px !important; } }

@media screen and (min-width: 550px) and (max-width: 700px) {
  .three-column .column {
    max-width: 33% !important; }
  .social-media img {
    width: 44px;
    height: 44px; }
  /*.two-column .column {
		max-width: 50% !important;
	}*/ }
