---
layout: default.hbs
subject: 
---
<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p align="center"><a href="http://www.weplann.com" target="_blank"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/weplann_logo.png" alt="WePlann" width="179" height="58" border="0" class="header-image" /></a></p>
            <h1 align="center" class="h1">LOS MEJORES DESTINOS, <span style="font-style:italic;">PLANNES</span><br>E INSPIRACIONES DE VIAJE</h1>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="two-column">
      <!--[if (gte mso 9)|(IE)]>
      <table width="100%">
      <tr>
      <td width="44%" valign="top">
      <![endif]-->
      <div class="column picture">
        <table width="100%">
          <tr>
            <td class="inner new-col">
              <table class="contents">
                <tr>
                  <td width="225" height="auto" align="right">
                    <a href="#"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/image_1_pngquant.png" width="225" height="150" alt="image 1" style="font-family: Arial, Helvetica, sans-serif;display:block; border:0"/></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td><td width="56%" valign="top">
      <![endif]-->
      <div class="column description">
        <!--[if (gte mso 9)|(IE)]>
        <table width="291" align="left" style="border-spacing: 0; padding:0px; Margin:0px;">
        <tr>
        <td>
        <![endif]-->
        <table width="100%">
          <tr>
            <td class="inner">
              <table class="contents">
                <tr>
                  <td class="text" height="122" bgcolor="#f3f3f3">
                    <p class="h2">Cantidad mínima para el título es de 29, la máxima es de 61</p>
                    <p class="h3">Para este subtítulo debe haber un mínimo de 76 carácteres y también un máximo de aproximadamente 109.</p>
                    <p align="right" class="link">Ir al post ></p>
                  </td>
                </tr>
              </table>
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->
            </td>
          </tr>
        </table>
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td>
      </tr><tr>
      <td width="44%" valign="top">
      <![endif]-->
      <div class="column picture">
        <table width="100%">
          <tr>
            <td class="inner new-col">
              <table class="contents">
                <tr>
                  <td width="225" height="auto" align="right">
                    <a href="#"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/image_2_pngquant.png" width="225" height="150" alt="image 2" style="font-family: Arial, Helvetica, sans-serif;display:block; border:0"/></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td><td width="56%" valign="top">
      <![endif]-->
      <div class="column description">
        <!--[if (gte mso 9)|(IE)]>
        <table width="291" align="left" style="border-spacing: 0; padding:0px; Margin:0px;">
        <tr>
        <td>
        <![endif]-->
        <table width="100%">
          <tr>
            <td class="inner">
              <table class="contents">
                <tr>
                  <td class="text" height="122" bgcolor="#f3f3f3">
                    <p class="h2">Cantidad mínima para el título es de 29, la máxima 61</p>
                    <p class="h3">El número mínimo de carácteres para el subtítulo es de 76 y el máximo de 109.</p>
                    <p align="right"class="link">Ir al post ></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td>
      </tr><tr>
      <td width="44%" valign="top">
      <![endif]-->
      <div class="column picture">
        <table width="100%">
          <tr>
            <td class="inner new-col">
              <table class="contents">
                <tr>
                  <td width="225" height="auto" align="right">
                    <a href="#"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/image_3_pngquant.png" width="225" height="150" alt="image 3" style="font-family: Arial, Helvetica, sans-serif;display:block; border:0"/></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td><td width="56%" valign="top">
      <![endif]-->
      <div class="column description">
        <!--[if (gte mso 9)|(IE)]>
        <table width="291" align="left" style="border-spacing: 0; padding:0px; Margin:0px;">
        <tr>
        <td>
        <![endif]-->
        <table width="100%">
          <tr>
            <td class="inner">
              <table class="contents">
                <tr>
                  <td class="text" height="122" bgcolor="#f3f3f3">
                    <p class="h2">Cantidad mínima para el título es de 29, la máxima 61</p>
                    <p class="h3">El número mínimo de carácteres para el subtítulo es de 76 y el máximo de 109.</p>
                    <p align="right"class="link">Ir al post ></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td>
      </tr><tr>
      <td width="44%" valign="top">
      <![endif]-->
      <div class="column picture">
        <table width="100%">
          <tr>
            <td class="inner new-col">
              <table class="contents">
                <tr>
                  <td width="225" height="auto" align="right">
                    <a href="#"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/image_4_pngquant.png" width="225" height="150" alt="image 4" style="font-family: Arial, Helvetica, sans-serif;display:block; border:0"/></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td><td width="56%" valign="top">
      <![endif]-->
      <div class="column description">
        <!--[if (gte mso 9)|(IE)]>
        <table width="291" align="left" style="border-spacing: 0; padding:0px; Margin:0px;">
        <tr>
        <td>
        <![endif]-->
        <table width="100%">
          <tr>
            <td class="inner">
              <table class="contents">
                <tr>
                  <td class="text" height="122" bgcolor="#f3f3f3">
                    <p class="h2">Cantidad mínima para el título es de 29, la máxima 61</p>
                    <p class="h3">El número mínimo de carácteres para el subtítulo es de 76 y el máximo de 109.</p>
                    <p align="right"class="link">Ir al post ></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
      </div>
      <!--[if (gte mso 9)|(IE)]>
      </td>
      </tr>
      </table>
      <![endif]-->
    </td>
  </tr>
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents">
            <p align="center" class="h2 bottom-header">Realiza el viaje de tus sueños</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="inner contents social-media">
            <p align="center">
              <a href="https://www.facebook.com/WePlann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-facebook"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/fb.png" alt="Facebook" width="25" height="25" border="0" valign="middle"></a>
              <a href="https://twitter.com/weplann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-twitter"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/twitter.png" alt="Twitter" width="25" height="25" border="0" valign="middle"></a>
              <a href="https://www.youtube.com/user/WePlann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-youtube"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/youtube.png" alt="YouTube" width="25" height="25" border="0" valign="middle"></a>
              <a href="https://www.pinterest.com/weplann/?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-pinterest"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/pinterest.png" alt="Pinterest" width="25" height="25" border="0" valign="middle"></a>
              <a href="https://plus.google.com/+Weplann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-plus"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/blog_test/gplus.png" alt="Google+" width="25" height="25" border="0" valign="middle"></a>
              &nbsp;&nbsp;&nbsp;
              <span class="call-to-action">¡Siguenos y no te pierdes nuestros tipos de viaje!</span>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</div>
<div>
<!--[if (gte mso 9)|(IE)]>
<table width="600" align="center">
<tr>
<td>
<![endif]-->
<table class="outer" align="center">
  <tr>
    <td class="one-column">
      <table width="100%">
        <tr>
          <td class="footer" align="center">
            <p align="center">WePlann © 2017. Todos los derechos reservados. <a style="font-family: Arial, Helvetica, sans-serif;color:#09a7d0; text-decoration:none;  font-size:11px; " href="http://www.weplann.com">www.weplann.com</a>
            </p>
          </td>
        </tr>
        <tr>
          <td class="footer" align="center">
            <p align="center">Si quieres darte de baja de esta newsletter <a color="#1eaad5" style="font-family: Arial, Helvetica, sans-serif;color: #09a7d0; text-decoration: underline;" href="[unsubscribe]">haz click aquí</a><br />&nbsp;</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->