---
layout: table.hbs
subject: ¡Celebra a Mamá todo el año y a los mejores precios! ¡Da click aquí!
---
<tr>
  <td width="51"></td>
  <td height="100" colspan="3">&nbsp;</td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td>
    <table width="100%" height="22" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="600" bgcolor="#ffffff">&nbsp;</td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="30" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>            
<tr>
  <td width="51"></td>
  <td>
    <table width="100%" height="22" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#ffffff" align="center" valign="top"><a target="_blank" href="http://www.weplann.com"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/weplann_logo.png" alt="WePlann" width="179" height="58" border="0" /></a>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>            
<tr>
  <td width="51"></td>
  <td height="40" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td bgcolor="#FFFFFF" width="498">
    <p align="center" style="text-align: center;font-family: sans-serif, Arial, Helvetica;color: #1eaad6; font-weight: bold; font-size: 20px; margin-top: 0;margin-bottom: 4px;line-height:28px;text-transform:uppercase;">¿Por qué celebrar a Mamá sólo un día?<br>¡Házlo todo el año y alrededor del mundo!</div></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="15" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td bgcolor="#FFFFFF" width="600">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29"></td>
        <td align="justify" style="font-family: sans-serif, Arial, Helvetica;font-size:14px; line-height:1.6em; color:#515151; text-align: justify;">
          <p style="font-family: sans-serif, Arial, Helvetica;margin: 0;">
            ¡Mayo es sin duda el mes de las Madres y en WePlann queremos que la consientas todo el año! Por eso, traemos para ti tours, actividades y shows alrededor del mundo que le encantarán. ¡No esperes más! Llévala a los mejores destinos y a precios increíbles.</p>
        </td>
        <td width="29"></td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="25" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td align="left" width="600" bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29"></td>
        <td bgcolor="#FFFFFF"><span style="line-height:0px;"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/attributes_es.png" width="548" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /></span></td>
        <td width="29"></td>
      </tr>
    </table>
  <td width="51"></td>
</tr>   
<tr>
  <td width="51"></td>
  <td height="20" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td bgcolor="#FFFFFF" width="600">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29"></td>
        <td align="justify" style="font-family: sans-serif, Arial, Helvetica;font-size:14px; line-height:1.6em; color:#515151; text-align: center;font-weight: bold;">
          <p style="font-family: sans-serif, Arial, Helvetica; margin: 0;">Obtén descuentos en tu compra HOY<br>¡Es por tiempo limitado!</p>
        </td>
        <td width="29"></td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td height="2" colspan="3" bgcolor="#FFFFFF"></td>
</tr>
<tr>
  <td colspan="5" bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100">&nbsp;</td>
        <td width="120">
          <img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/discount_es.png" width="140" height="102" style="display:block; border:0; background-color: #f6f7f8;">
        </td>
        <td>
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td width="14" bgcolor="#f6f7f8"></td>
              <td width="275" height="102" bgcolor="#f6f7f8" style="font-family:sans-serif, Arial, Helvetica; font-size:14px; line-height:1.4em;">
                <table border="0" cellspacing="0" cellpadding="0" width="88%" style="width:88%">
                  <tr>
                    <td height="5"></td>
                  </tr>
                  <tr>
                    <td height="40" valign="middle" align="center" style="font-size: 40px;font-weight: bold; color: #fa8100;">WPAN16</td>
                  </tr>
                  <tr>
                    <td valign="middle" align="center" style="color: #333; font-size: 14px;">Insértalo en tu cesta de compras</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
        </td>
        <td width="100">&nbsp;</td>
      </tr>

    </table>
  </td>
</tr> 
<tr>
  <td width="51"></td>
  <td height="25" bgcolor="#FFFFFF">&nbsp;</td>
  <td width="51"></td>
</tr>    
<tr>
  <td width="51"></td>
  <td align="left" width="600" bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29"></td>
        <td>
          <a target="_blank" href="http://www.weplann.com/nueva-york?q=woodbury+common" style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;line-height:0px;"><img src="http://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/image_1_es.jpg" width="280" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /><div style="font-family: sans-serif, Arial, Helvetica; color: #000000; background: #f3f3f3; text-align: center; font-size: 16px; line-height:22px;padding: 15px 0px; font-weight: bold; height: 43px; vertical-align: middle; display: table-cell; width: 280px;">Outlet en Nueva York</div>
          <div style="background: #f3f3f3;padding-bottom:15px;">
          <div style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;width:226px;height:30px;line-height:30px;color:#fff;font-size: 14px; margin:auto;background:#FA8100;text-align:center;font-weight:bold;box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 0.46); text-transform: uppercase;">Ver más</div>
          </div>
        </a>
        </td>
        <td width="28"></td>
        <td>
          <a target="_blank" href="http://www.weplann.com/londres/entradas-fantasma-de-la-opera" style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;line-height:0px;"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/grandclub_launch/image_2.jpg" width="280" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /><div style="font-family: sans-serif, Arial, Helvetica; color: #000000; background: #f3f3f3; text-align: center; font-size: 16px; line-height:22px;padding: 15px 0px; font-weight: bold; font-weight: bold; height: 43px; vertical-align: middle; display: table-cell; width: 280px;">Fantasma de la Ópera<br>en Londres</div>
          <div style="background: #f3f3f3;padding-bottom:15px;">
          <div style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;width:226px;height:30px;line-height:30px;color:#fff;font-size: 14px; margin:auto;background:#FA8100;text-align:center;font-weight:bold;box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 0.46);text-transform: uppercase;">Ver más</div>
          </div>
        </a>
        </td>
        <td width="29"></td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="25" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td align="left" width="600" bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29"></td>
        <td>
          <a target="_blank" href="http://www.weplann.com/orlando/tour-orlando-winter-park-celebration" style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;line-height:0px;"><img src="http://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/image_3.jpg" width="280" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /><div style="font-family: sans-serif, Arial, Helvetica; color: #000000; background: #f3f3f3; text-align: center; font-size: 16px; line-height:22px;padding: 15px 0px; font-weight: bold; font-weight: bold; height: 43px; vertical-align: middle; display: table-cell; width: 280px;">Tour por Orlando y sus<br>alrededores</div>
          <div style="background: #f3f3f3;padding-bottom:15px;">
          <div style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;width:226px;height:30px;line-height:30px;color:#fff;font-size: 14px; margin:auto;background:#FA8100;text-align:center;font-weight:bold;box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 0.46);text-transform: uppercase;">Ver más</div>
          </div>
        </a>
        </td>
        <td width="28"></td>
        <td>
          <a target="_blank" href="http://www.weplann.com/riviera-maya/tickets-joya-cirque-du-soleil" style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;line-height:0px;"><img src="http://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/image_4.jpg" width="280" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /><div style="font-family: sans-serif, Arial, Helvetica; color: #000000; background: #f3f3f3; text-align: center; font-size: 16px; line-height:22px;padding: 15px 0px; font-weight: bold; font-weight: bold; height: 43px; vertical-align: middle; display: table-cell; width: 280px;">Joyà de Cirque du Soleil<br>en Riviera Maya</div>
          <div style="background: #f3f3f3;padding-bottom:15px;">
          <div style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;width:226px;height:30px;line-height:30px;color:#fff;font-size: 14px; margin:auto;background:#FA8100;text-align:center;font-weight:bold;box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 0.46);text-transform: uppercase;">Ver más</div>
          </div>
        </a>
        </td>
        <td width="29"></td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="25" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td align="left" width="600" bgcolor="#FFFFFF">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="29"></td>
        <td>
          <a target="_blank" href="http://www.weplann.com/paris/tour-notre-dame-sainte-chapelle" style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;line-height:0px;"><img src="http://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/image_5.jpg" width="280" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /><div style="font-family: sans-serif, Arial, Helvetica; color: #000000; background: #f3f3f3; text-align: center; font-size: 16px; line-height:22px;padding: 15px 0px; font-weight: bold; font-weight: bold; height: 43px; vertical-align: middle; display: table-cell; width: 280px;">Entrada a Notre Dame<br>y la Sainte-Chapelle</div>
          <div style="background: #f3f3f3;padding-bottom:15px;">
          <div style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;width:226px;height:30px;line-height:30px;color:#fff;font-size: 14px; margin:auto;background:#FA8100;text-align:center;font-weight:bold;box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 0.46);text-transform: uppercase;">Ver más</div>
          </div>
        </a>
        </td>
        <td width="28"></td>
        <td>
          <a target="_blank" href="http://www.weplann.com/san-francisco/tour-autobus-hop-on-hop-off" style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;line-height:0px;"><img src="http://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/image_6.jpg" width="280" height="150" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0" /><div style="font-family: sans-serif, Arial, Helvetica; color: #000000; background: #f3f3f3; text-align: center; font-size: 16px; line-height:22px;padding: 15px 0px; font-weight: bold;font-weight: bold; height: 43px; vertical-align: middle; display: table-cell; width: 280px;">San Francisco en autobús<br>Hop-on Hop-off</div>
          <div style="background: #f3f3f3;padding-bottom:15px;">
          <div style="font-family: sans-serif, Arial, Helvetica;text-decoration: none;width:226px;height:30px;line-height:30px;color:#fff;font-size: 14px; margin:auto;background:#FA8100;text-align:center;font-weight:bold;box-shadow: 0px 2px 5px 0px rgba(163, 163, 163, 0.46);text-transform: uppercase;">Ver más</div>
          </div>
        </a>
        </td>
        <td width="29"></td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr> 
<tr>
  <td width="51"></td>
  <td height="34" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>              
  <td width="51"></td>
  <td align="center" style="font-family: sans-serif, Arial, Helvetica; font-size: 18px; color: #2ea2d1;" bgcolor="#FFFFFF">Realiza el viaje de tus sueños con WePlann</td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="24" bgcolor="#FFFFFF"></td>
  <td width="51"></td>
</tr>
<tr>
  <td align="center" colspan="3" width="640">
    <img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/mothers_day_2017/dist/img/benefits_es.png" width="600" height="82" style="font-family: sans-serif, Arial, Helvetica;display:block; border:0">
  </td>
</tr>
<tr>
  <td width="51"></td>
  <td height="20" bgcolor="#f6f7f8"></td>
  <td width="51"></td>
</tr>
<tr>              
  <td width="51"></td>
  <td align="center" bgcolor="#f6f7f8" style="font-family: sans-serif, Arial, Helvetica; font-size: 15px; color: #000;">Visto en:</td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="20" bgcolor="#f6f7f8"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td width="600" bgcolor="#f6f7f8">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="center" style="font-family: sans-serif, Arial, Helvetica;padding-left:20px;">
          <a target="_blank" href="http://mexico.cnn.com/tecnologia/2014/10/12/turismo-en-internet-weplann-quiere-seducir-a-los-viajeros-mexicanos"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/cnn_mexico.png" style="font-family: sans-serif, Arial, Helvetica;border:none;" width="92" height="16"></a>
        </td>
        <td align="center" valign="center">
          <a target="_blank" href="http://techcrunch.com/2013/10/29/500-startups-accelerator-batch-7/"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/tech_crunch.png" style="font-family: sans-serif, Arial, Helvetica;border:none;" width="112" height="15"></a>
        </td>
        <td align="right" valign="center">
          <a target="_blank" href="http://www.cnnexpansion.com/tecnologia/2014/09/30/startup-busca-ganar-al-turismo-mexicano-de-alto-nivel"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/cnn_expansion.png" style="font-family: sans-serif, Arial, Helvetica;border:none;" width="130" height="17"></a>
        </td>
        <td align="right" valign="center" style="font-family: sans-serif, Arial, Helvetica;padding-right:20px;">
          <a target="_blank" href="http://eleconomista.com.mx/tecnociencia/2014/11/05/emprendedores-online-busqueda-viajero-latino"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/el_economista.png" style="font-family: sans-serif, Arial, Helvetica;border:none;" width="154" height="14"></a>
        </td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="20" bgcolor="#f6f7f8"></td>
  <td width="51"></td>
</tr>       
<tr>
  <td width="51"></td>
  <td bgcolor="#FFFFFF" height="18"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td align="center" valign="top" bgcolor="#FFFFFF" style="font-family: sans-serif, Arial, Helvetica; color:#7c7c7c; font-size:13px;">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="120">&nbsp;</td>
        <td width="27" height="26"><a target="_blank" href="https://www.facebook.com/WePlann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-facebook"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/fb.png" alt="Facebook" width="26" height="26" border="0"></a></td>
        <td>&nbsp;</td>
        <td width="26" height="26"><a target="_blank" href="https://twitter.com/weplann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-twitter"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/twitter.png" alt="Twitter" width="26" height="26" border="0"></a></td>
        <td>&nbsp;</td>
        <td width="27" height="26"><a target="_blank" href="https://plus.google.com/+Weplann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-plus"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/gplus.png" alt="Google+" width="26" height="26" border="0"></a></td>
        <td>&nbsp;</td>
        <td width="26" height="26"><a target="_blank" href="https://www.youtube.com/user/WePlann?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-youtube"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/youtube.png" alt="YouTube" width="26" height="26" border="0"></a></td>
        <td>&nbsp;</td>
        <td width="26" height="26"><a target="_blank" href="https://www.pinterest.com/weplann/?utm_source=email-marketing&utm_medium=email&utm_campaign=nl-17&utm_content=social-pinterest"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/pinterest.png" alt="Pinterest" width="26" height="26" border="0"></a></td>
        <td width="160" align="right" style="font-family: sans-serif, Arial, Helvetica; font-size:12px; color:#8a8a8a;">¡Conoce nuestro <a target="_blank" href="http://blog.weplann.com" style="font-family: sans-serif, Arial, Helvetica; text-decoration:underline; color:#09a7d0;  font-size:12px;">blog</a>!</td>
        <td width="10">&nbsp;</td>
        <td width="26" height="26"><a target="_blank" href="http://blog.weplann.com"><img src="https://d210u714r9y2ay.cloudfront.net/images/weplann/newsletters/affiliates_18/rss.png" alt="RSS" width="26" height="26" border="0"></a></td>
        <td width="137">&nbsp;</td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td bgcolor="#FFFFFF" height="18"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="5"></td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td height="30" align="center" valign="middle" style="font-family: sans-serif, Arial, Helvetica; color:#7c7c7c; font-size:11px;">WePlann © 2017. Todos los derechos reservados.
    <a target="_blank" style="font-family: sans-serif, Arial, Helvetica;color:#09a7d0; text-decoration:none;  font-size:11px; " href="http://www.weplann.com">www.weplann.com</a>
  </td>
  <td width="51"></td>
</tr>
<tr>
  <td width="51"></td>
  <td>
    <table width="100%" height="34" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="600" align="center" color="#848484" style="font-family: sans-serif, Arial, Helvetica; color:#848484; font-size: 11px;">Si quieres darte de baja de esta newsletter <a target="_blank" color="#1eaad5" style="font-family: sans-serif, Arial, Helvetica;color: #09a7d0; text-decoration: underline;" href="[unsubscribe]">haz click aquí</a><br>&nbsp;</td>
      </tr>
    </table>
  </td>
  <td width="51"></td>
</tr>